<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Abel|Inconsolata|Bitter" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism-twilight.min.css" rel="stylesheet" />
  <% htmlWebpackPlugin.files.js.forEach(function(src) { %><script src=".<%= src %>" defer></script><% }) %>
</head>
<body>
  <div id="root"></div>
</body>
</html>
